.text-margin-password{
    margin-left: -243px;
}

.number-contador-1-accoun-date span{
    opacity: 0.2;
    color: #00FFFF;
}

.number-contador-2-accoun-date span{
    color: #00FFFF;
}

.number-contador-3-accoun-date span{
    color: white;
    opacity: 0.2;
}

.number-contador-4-accoun-date span{
    color: white;
    opacity: 0.2;
}


