
.passos{
    color: white;
}

.input-fields{
    margin-top: 20px;
}

.text-margin-name{
    margin-left: -320px;
}

.text-margin-surname{
    margin-left: -280px;
}

.text-margin-cpf{
    margin-left: -340px;
}

.text-margin-rg{
    margin-left: -340px;
}

.text-margin-name-mom{
    margin-left: -265px;
}


.number-contador-1-create-account span{
    color: #00FFFF; 
}

.number-contador-2-create-account span{
    color: white;
    opacity: 0.2;
}

.number-contador-3-create-account span{
    color: white;
    opacity: 0.2;
}

.number-contador-4-create-account span{
    color: white;
    opacity: 0.2;
}

.sp4ce-Future-create{
    font-size: 12px;
    margin-top: 40px;
    margin: 5px;
}

.margin-30 a{
    color: #00FFFF;
}

.sp4ce-Future-confirm{
    margin-top: 170px;
    font-size: 11px;
}