
.passos{
    color: white;
}

.input-fields{
    margin-top: 20px;
}

.text-margin-name{
    margin-left: -320px;
}

.text-margin-surname{
    margin-left: -280px;
}

.text-margin-cpf{
    margin-left: -340px;
}

.text-margin-rg{
    margin-left: -340px;
}

.text-margin-name-mom{
    margin-left: -265px;
}