
  .App {
    text-align: center;
  }
  
  .App img{
    width: 124px;
  }
  
  .titlle{
      margin: 15px;
  }

  .titlle span{
      position: relative;
      right: 110px;
      font-size: 18px;
      font-weight: 600;
  }
  
  h1{
    font-size: 18px;
    margin: 10px;
    font-weight: 500;
  }
  
  input{
    height: 50px;
    width: 350px;
    margin: 10px;
    border: 1px solid #01FFFF;
    border-radius: 5px;
    background: #2E3948;
    outline: 0;
    font-size: 14px;
  }
  
  input[type="text"] {
    padding-left: 10px;
  }

  input[type="email"]{
    padding-left: 10px;
  }


  .registerInput-margin-120{
    margin-right: 320px;
  }

  .registerInput-margin-50{
    margin-right: 208px;
  }

  .inputEnter{
    position: relative;
    top: 2px;
  }

  .registerInput-width-checkbox input{
    position: relative;
    right: 9px;
    width: 15px;
  }

  .registerInput-width-checkbox label{
    position: relative;
    top: -18px;
    right: 15px;
  }

  .registerInput-width-checkbox span{
    position: relative;
    top: -18px;
    right: 11px;
    font-weight: 600;
  }

  .label-input-confirm-pass{
    position: relative;
    right: 104px
  }

  .registerInput-enter{
    position: relative;
    top: 10px;
  }
  .registerInput-enter span{
    color: white;
  }
  .registerInput-enter a{
    color: #01FFFF;
    font-weight: 600;
  }

  .sp4ce-Future-Recover{
    margin-top: 60px;
    font-size: 11px;
  }

  
  