.inputEnter button{
    height: 45px;
    width: 360px;
    background: #00FFFF;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.inputEnter-next button{
  height: 39px;
    width: 180px;
    background: #00FFFF;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.inputEnter-next-create-account button{
  height: 39px;
    width: 180px;
    background: #00FFFF;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.inputEnter-next .a-next{
  height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    padding-right: 60px;
    padding-left: 60px;
    border: 1px solid white;
}

.inputEnter-next{
  padding: 10px;
}

.margin-top-100{
  margin-top: 100px;
}

.margin-30{
  margin-top: 30px;
}

.margin-15{
  margin-top: 5px;
}

.margin-15 a{
  color: #00FFFF;
}

.margin-rigth-title h1{
  position: relative;
  left:-125px;
  margin-top: -5px;
  color: #00FFFF;
  font-size: 14px;
}

.number-contador-1{
  width: 50px;
  display: inline-block;
  position: relative;
  right: 85px;
}
.number-contador-2{
  width: 50px;
  display: inline-block;
  position: relative;
  right: 25px;
}

.number-contador-3{
  width: 50px;
  display: inline-block;
  position: relative;
  left: 30px;
}

.number-contador-4{
  width: 50px;
  display: inline-block;
  position: relative;
  right: -85px;
}

.number-contador-1, .number-contador-2, .number-contador-3, .number-contador-4 span{
  font-size: 44px;
  font-weight: 600;
}

.btn-voltar{
    color: white !important;
    opacity: 0.2 !important;
}

.warning{
  margin-top: 25px;
}

.warning label{
  font-weight: 600;
  font-size: 22px;
  color: #00FFFF;
}

.terms{
  font-size: 14px;
}

.terms input{
  width: 15px;
  height: 15px;
}

.verified-Account{
  font-size: 15px;
  color: #00FFFF;
}

.sp4ce-Future-welcome{
  margin-top: 310px;
  font-size: 12px;
}


/*Perfil nav*/
*{
  padding: 0;
  margin: 0;
}
nav{
  border: 1px solid white;
  height: 60px;
  width: 100%;
}

.imG-logo img{
  width: 100px;
  border: 1px solid white;
  margin: 10px;
}





